---
import ProjectCard from '@components/ProjectCard.astro';
import Logo4aGC from '@assets/logo-4agc.svg';
import LogoPopPays from '@assets/logo-poppays.svg';
import Image from 'astro/components/Image.astro';
---

<div class="pb-12 lg:pb-20">
  <h2>Projects</h2>

  <div class="grid gap-6 lg:grid-cols-2 lg:gap-12">
    <ProjectCard
      image={Logo4aGC}
      alt="4aGoodCause"
      text="Full-stack web applications including SaaS functionality, payment processing and user accounts."
      href="/project/4agoodcause"
    />

    <ProjectCard
      image={LogoPopPays}
      alt="Popular Pays"
      text="Full-stack web applications including SaaS functionality, payment processing and user accounts."
      href="/project/popular-pays"
    />
  </div>
</div>
