---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Hero from '@components/development/Hero.astro';
import Skills from '@components/development/Skills.astro';
import Projects from '@components/development/rails/Projects.astro';
---

<Layout>
  <div class="wrap">
    <Header format="full"/>
    <Hero />
    <Skills />
    <Projects />
    <Footer />
  </div>
</Layout>
