---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Logo4aGC from '@assets/logo-4agc.svg';
import Screen1 from '@assets/screen-4agc-1.png';
import Screen2 from '@assets/screen-4agc-2.png';
import Project from '@components/Project.astro';
---

<Layout title="Steven Wanderski | 4aGoodCause | Ruby on Rails Development">
  <div class="wrap">
    <Header format="full"/>

    <Project
      logo={Logo4aGC}
      logoAlt="4aGoodCause"
      description="A platform used by nonprofits to raise money for charities all over the world. Currently, over $180M has been raised on this platform."
      siteUrl="https://4agoodcause.com"
      featureItems={[
        'Fully-managed payment processing and webhook management using Stripe, Authorize.net, and PayPal.',
        'Comprehensive CRM features including donor management, admin reports, record import / export, and campaign statistics.',
        'Queue and background job management connected to critical system components.'
      ]}
      roleItems={[
        'Back-end Development',
        'Front-end Development',
        'DevOps / Server Management',
        'Technology Consultant'
      ]}
      techItems={[
        'Ruby on Rails',
        'Postgres',
        'Heroku',
        'Sidekiq'
      ]}
      screenshots={[
        Screen1,
        Screen2
      ]}
    />

    <Footer />
  </div>
</Layout>
