---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import LogoFitz from '@assets/logo-fitz.png';
import Screen1 from '@assets/screen-fitz.png';
import { Image } from 'astro:assets';
import Project from '@components/Project.astro';
---

<Layout title="Steven Wanderski | Friends for Fitz | WordPress Development">
  <div class="wrap">
    <Header format="full"/>

    <Project
      logo={LogoFitz}
      logoAlt="Friends for Fitz"
      description="A nonprofit website dedicated to helping local families in need."
      siteUrl="https://friends4fitz.com"
      featureItems={[
        'CMS powered backend provides intuitive content management for non-technical users.',
        'Integrated donation checkout system powered by Stripe.',
        'Custom responsive design created specifically for the nonprofit.'
      ]}
      roleItems={[
        'Back-end Development',
        'Front-end Development',
        'Design',
        'DevOps / Server Management',
        'Technology Consultant'
      ]}
      techItems={[
        'WordPress',
        'PHP / MySQL',
        'TailwindCSS',
        'WPEngine'
      ]}
      screenshots={[
        Screen1
      ]}
    />

    <Footer />
  </div>
</Layout>
