---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import LogoNWP from '@assets/logo-nwp.svg';
import Screen1 from '@assets/screen-nwp.png';
import Project from '@components/Project.astro';
---

<Layout title="Steven Wanderski | Native Workforce Partners | WordPress Development">
  <div class="wrap">
    <Header format="full"/>

    <Project
      logo={LogoNWP}
      logoAlt="Native Workforce Partners"
      description="A CMS driven website dedicated to providing resources for native jobseekers and students."
      siteUrl="https://nativeworkforcepartners.org"
      featureItems={[
        'CMS powered backend provides intuitive content management for non-technical users.',
        'Google Map integration that displays search results on an embedded map.',
        'Custom responsive design created specifically for the business.'
      ]}
      roleItems={[
        'Back-end Development',
        'Front-end Development'
      ]}
      techItems={[
        'WordPress',
        'PHP / MySQL',
        'TailwindCSS',
        'WPEngine'
      ]}
      screenshots={[
        Screen1
      ]}
    />

    <Footer />
  </div>
</Layout>
