---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import LogoPopPays from '@assets/logo-poppays.svg';
import Screen1 from '@assets/screen-poppays.png';
import Project from '@components/Project.astro';
---

<Layout title="Steven Wanderski | Popular Pays | Ruby on Rails Development">
  <div class="wrap">
    <Header format="full"/>

    <Project
      logo={LogoPopPays}
      logoAlt="Popular Pays"
      description="A content creation marketplace that connects brands with influencers."
      siteUrl="https://popularpays.com"
      featureItems={[
        'A robust marketplace that allows influencers to bid on projects provided by brands seeking content.',
        'A dedicated web app / iOS app for influencers to manage brand gigs and content delivery.',
        'A dedicated web app for brands to manage influencer activity and content delivery.',
        'An admin panel that includes site tools, user statistics and metric reports.'
      ]}
      roleItems={[
        'Back-end Development',
        'Front-end Development',
        'Engineering Mentor',
        'DevOps / Server Management',
        'Technology Consultant'
      ]}
      techItems={[
        'Ruby on Rails',
        'EmberJS',
        'Postgres',
        'Heroku',
        'Sidekiq'
      ]}
      screenshots={[
        Screen1
      ]}
    />

    <Footer />
  </div>
</Layout>
