---
import { Image } from 'astro:assets';
const { title, description, image, imageAlt } = Astro.props;
---

<div class="pb-12 mb-12 border-b border-gray-200 lg:flex lg:justify-between lg:items-centerx lg:gap-8 lg:pb-20">
  <div class="max-w-[600px]">
    <h1 class="mb-2 text-5xl lg:text-6xl">
      {title}
    </h1>

    <p class="text-xl mb-10 max-w-[500px]">
      {description}
    </p>

    <div class="flex gap-4">
      <a href="/contact" class="btn-black">Contact Me</a>
    </div>
  </div>

  <div class="hidden lg:block lg:pr-[150px]">
    <Image src={image} alt={imageAlt} class="max-w-[255px]" />
  </div>
</div>
