---
import { Image } from 'astro:assets';
import RailsImage from '@assets/logo-rails.png';
---

<div class="pb-12 mb-12 border-b border-gray-200 lg:flex lg:justify-between lg:items-center lg:gap-8 lg:pb-20">
  <div class="max-w-[600px]">
    <h1 class="mb-2 text-5xl lg:text-6xl">
      Ruby on Rails Development
    </h1>

    <p class="text-xl mb-10 max-w-[500px]">
      With 15 years of experience and expert knowledge of Ruby on Rails, I specialize in building fast, scalable, and secure web applications that stand the test of time.
    </p>

    <div class="flex gap-4">
      <a href="/contact" class="btn-black">Contact Me</a>
    </div>
  </div>

  <div class="hidden lg:block lg:pr-[150px]">
    <Image src={RailsImage} alt="Ruby on Rails" class="max-w-[255px]" />
  </div>
</div>
