---
const { skills } = Astro.props;
---

<div class="pb-12 mb-12 border-b border-gray-200 lg:pb-20">
  <h2>Skills</h2>

  <ul class="list-disc ml-5 space-y-6 max-w-[600px] text-xl">
    {skills.map((item) => (
      <li><strong>{item.title}</strong> {item.body}</li>
    ))}
  </ul>
</div>