<div class="pb-12 mb-12 border-b border-gray-200 lg:pb-20">
  <h2>Skills</h2>

  <ul class="list-disc ml-5 space-y-6 max-w-[600px] text-xl">
    <li><strong>Back-end:</strong> Ruby on Rails for MVC architecture, API design, webhook management, payment processing (Stripe, Authorize.net, PayPal).</li>
    <li><strong>Front-end:</strong> React for UI / UX, TailwindCSS for theming, semantic HTML, HTMX for alternative UI / UX handling.</li>
    <li><strong>SQL Database Design:</strong> Creating migrations and data models, optimize slow queries, creating complex custom queries</li>
    <li><strong>DevOps:</strong> Deploy and host on Heroku, error reporting using Sentry, log monitoring and debugging using Paper Trail</li>
    <li><strong>Testing:</strong> TDD using RSpec, E2E (end-to-end) testing using Capybara and Selenium</li>
  </ul>
</div>