---
import Project4aGC from '@components/project-cards/4agc.astro';
import ProjectFitz from '@components/project-cards/fitz.astro';
import ProjectNWP from '@components/project-cards/nwp.astro';
import ProjectPopPays from '@components/project-cards/poppays.astro';
---

<div class="pb-12 border-b border-gray-200 lg:pb-20">
  <h2>Projects</h2>

  <div class="grid gap-6 lg:grid-cols-2 lg:gap-12">
    <Project4aGC />
    <ProjectFitz />
    <ProjectNWP />
    <ProjectPopPays />
  </div>
</div>
