<div class="pb-12 mb-12 border-b border-gray-200">
  <div class="max-w-[600px]">
    <h1 class="mb-2">
      Contact Me
    </h1>

    <p class="text-xl max-w-[500px]">
      Feel free to reach out with questions regarding projects, coding or anything else tech-related. Expect a personal response back within a day or two 😀
    </p>
  </div>
</div>
