---
const { format } = Astro.props;
import Logo from '@components/Logo.astro';
---

<header class="mb-12 lg:mb-20" x-data="{ open: false }">
  <div class="lg:hidden">
    <div class="flex justify-between items-center mb-[16px]">
      <Logo format={format} />

      <div class="flex flex-col gap-[6px] w-[30px] cursor-pointer" @click="open = !open">
        <div class="border-b border-[3px] border-black"></div>
        <div class="border-b border-[3px] border-black"></div>
        <div class="border-b border-[3px] border-black"></div>
      </div>
    </div>

    <div class="flex flex-col" x-cloak x-show="open">
      <a class="py-[8px] font-bold" href="/#testimonials">Testimonials</a>
      <a class="py-[8px] font-bold" href="https://blog.stevenwanderski.com">Blog</a>
      <a class="py-[8px] font-bold" href="/resume">Resume</a>
      <a class="py-[8px] font-bold" href="/contact">Contact</a>
    </div>
  </div>

  <div class="hidden lg:flex justify-between items-center mb-[16px]">
    <Logo format={format} />

    <div class="flex gap-5">
      <a class="px-[8px] font-bold hover:text-zinc-600" href="/#testimonials">Testimonials</a>
      <a class="px-[8px] font-bold hover:text-zinc-600" href="https://blog.stevenwanderski.com">Blog</a>
      <a class="px-[8px] font-bold hover:text-zinc-600" href="/resume">Resume</a>
      <a class="px-[8px] font-bold hover:text-zinc-600" href="/contact">Contact</a>
    </div>
  </div>
</header>